In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
import statistics

In [2]:
os.chdir('C:\\Users\\User.PC-ESTACAO\\Downloads')
df = pd.read_csv('SP_poluicao_dados.csv')

In [3]:
df.head()

,Unnamed: 0,ID,Data,Hora,Estacao,Codigo,Poluente,Valor,Unidade,Tipo
0,0,0,2015-01-01,01:00,Americana - Vila Santa Maria,SP01,MP10,65.0,ug/m3,automatica
1,1,1,2015-01-01,02:00,Americana - Vila Santa Maria,SP01,MP10,98.0,ug/m3,automatica
2,2,2,2015-01-01,03:00,Americana - Vila Santa Maria,SP01,MP10,79.0,ug/m3,automatica
3,3,3,2015-01-01,04:00,Americana - Vila Santa Maria,SP01,MP10,53.0,ug/m3,automatica
4,4,4,2015-01-01,05:00,Americana - Vila Santa Maria,SP01,MP10,35.0,ug/m3,automatica

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10980515 entries, 0 to 10980514
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   ID          int64
 2   Data        object
 3   Hora        object
 4   Estacao     object
 5   Codigo      object
 6   Poluente    object
 7   Valor       float64
 8   Unidade     object
 9   Tipo        object
dtypes: float64(1), int64(2), object(7)
memory usage: 837.7+ MB

In [5]:
df.describe(include='all')

,Unnamed: 0,ID,Data,Hora,Estacao,Codigo,Poluente,Valor,Unidade,Tipo
count,1.098052e+07,1.098052e+07,10980515,10980515,10980515,10980515,10980515,1.098052e+07,10980515,10980515
unique,NaN,NaN,2557,24,87,87,9,NaN,1,2
top,NaN,NaN,2017-04-19,17:00,Santos - Ponta da Praia,SP64,MP10,NaN,ug/m3,automatica
freq,NaN,NaN,5674,469259,287897,287897,2883216,NaN,10980515,10971842
mean,5.490257e+06,5.490257e+06,NaN,NaN,NaN,NaN,NaN,8.330876e+01,NaN,NaN
std,3.169802e+06,3.169802e+06,NaN,NaN,NaN,NaN,NaN,2.500071e+02,NaN,NaN
min,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,2.745128e+06,2.745128e+06,NaN,NaN,NaN,NaN,NaN,9.000000e+00,NaN,NaN
50%,5.490257e+06,5.490257e+06,NaN,NaN,NaN,NaN,NaN,2.200000e+01,NaN,NaN
75%,8.235386e+06,8.235386e+06,NaN,NaN,NaN,NaN,NaN,4.500000e+01,NaN,NaN
max,1.098051e+07,1.098051e+07,NaN,NaN,NaN,NaN,NaN,9.981292e+03,NaN,NaN

In [7]:
df.Estacao.value_counts()

Santos - Ponta da Praia            287897
Marg. Tietê - Pte dos Remédios     286634
Parque Dom Pedro II                286121
Congonhas                          280515
Guarulhos - Pimentas               275144
                                    ...
Taubaté - Centro                       89
Barretos - América                     74
Paulínia - João Aranha                 58
Paulínia - Bairro Cascata              57
Ribeirão Preto - Campos Elíseos        27
Name: Estacao, Length: 87, dtype: int64

In [12]:
#média, moda e mediana de valores a unidade de concentração do poluente
#média
media_poluente = df.Valor.mean()
print(media_poluente)

83.30875749937994

In [28]:
#moda
moda_poluente = statistics.mode(df['Valor'])
print(moda_poluente)

1.0

In [27]:
#mediana
mediana_poluente = statistics.median(df['Valor'])
print(mediana_poluente)

22.0

In [10]:
#poluente mais crítico = CO (712.781792)

media_por_poluente = df.groupby('Poluente') ['Valor'].mean()
media_por_poluente = media_por_poluente.sort_values()
print (media_por_poluente)

Poluente
SO2        4.443398
NO        15.103614
MP2.5     15.756391
FMC       16.407719
NO2       25.675854
MP10      29.207835
O3        39.877003
PTS       72.616374
CO       712.781792
Name: Valor, dtype: float64

In [17]:
print('Soma de poluição por poluente')
soma_por_poluente = df.groupby('Poluente') ['Valor'].sum()
soma_por_poluente = soma_por_poluente.sort_values()
print (soma_por_poluente)

Soma de poluição por poluente
Poluente
FMC      6.036400e+04
PTS      1.241740e+05
SO2      3.538300e+06
NO       5.253641e+06
MP2.5    1.929507e+07
NO2      5.589156e+07
MP10     8.421250e+07
O3       1.055667e+08
CO       6.408307e+08
Name: Valor, dtype: float64

In [6]:
#frequência de valores poluentes

df.Poluente.value_counts()

MP10     2883216
O3       2647308
NO2      2176814
MP2.5    1224587
CO        899056
SO2       796305
NO        347840
FMC         3679
PTS         1710
Name: Poluente, dtype: int64

In [15]:
#Localidade mais afetada pela poluição

media_poluicao_local = df.groupby('Estacao') ['Valor'].mean()
media_poluicao_local = media_poluicao_local.sort_values()
print(media_poluicao_local)

Estacao
Paulínia - João Aranha            3.413793
Franca - Centro                   3.937500
Taubaté - Centro                  9.876404
Itu - Centro                      9.904321
Salto - Centro                   10.842105
                                   ...
Santo Amaro                     235.991935
Osasco                          242.848337
Taboão da Serra                 411.533445
Campinas - Centro               411.976846
Santo André - Paço Municipal    436.696420
Name: Valor, Length: 87, dtype: float64

In [16]:
soma_poluicao_local = df.groupby ('Estacao') ['Valor'].sum()
soma_poluicao_local = soma_poluicao_local.sort_values()
print(soma_poluicao_local)

Estacao
Paulínia - João Aranha             1.980000e+02
Franca - Centro                    3.780000e+02
Paulínia - Bairro Cascata          6.690000e+02
Taubaté - Centro                   8.790000e+02
Ribeirão Preto - Campos Elíseos    1.225000e+03
                                       ...
Campinas - Centro                  4.490424e+07
Marg. Tietê - Pte dos Remédios     4.863474e+07
Taboão da Serra                    6.003820e+07
Congonhas                          6.221402e+07
Osasco                             6.585173e+07
Name: Valor, Length: 87, dtype: float64

In [ ]:
#Período do ano com elevação no nível de concentração de poluentes

In [31]:
df.Data.value_counts()

2017-04-19    5674
2017-06-17    5670
2017-07-30    5668
2017-06-18    5649
2017-04-05    5648
              ...
2015-02-18    3325
2015-01-04    3275
2015-02-16    3267
2015-01-03    3253
2015-02-17    3233
Name: Data, Length: 2557, dtype: int64

In [32]:
media_por_data = df.groupby('Data') ['Valor'].mean()
media_por_data = media_por_data.sort_values()
print (media_por_data)

Data
2021-12-19     31.566687
2021-12-07     31.837845
2021-12-24     32.489189
2021-11-02     32.626503
2021-12-08     32.763369
                 ...
2015-06-08    231.492320
2015-06-09    234.261036
2015-08-31    237.156726
2016-06-16    258.144115
2016-06-17    270.378520
Name: Valor, Length: 2557, dtype: float64

In [ ]:
#Horário de maior concentração de poluentes

In [34]:
df.Hora.value_counts()

17:00    469259
16:00    469038
21:00    468996
20:00    468903
22:00    468821
19:00    468792
23:00    468769
15:00    468550
14:00    468332
18:00    468312
23:55    467705
13:00    467639
10:00    466770
11:00    466722
12:00    466096
09:00    465941
03:00    465239
08:00    465212
07:00    464376
02:00    457630
04:00    440328
05:00    435875
01:00    383679
06:00    379531
Name: Hora, dtype: int64

In [33]:
media_por_hora = df.groupby('Hora') ['Valor'].mean()
media_por_hora = media_por_hora.sort_values()
print (media_por_hora)

Hora
05:00    36.616766
04:00    66.353201
03:00    68.214325
02:00    75.972857
14:00    77.759112
15:00    77.984494
16:00    78.393515
13:00    78.524715
06:00    79.713440
12:00    79.910682
17:00    80.428357
11:00    82.824060
07:00    83.201412
10:00    87.251607
18:00    87.518739
23:55    90.405120
09:00    93.151056
08:00    94.975837
23:00    95.248183
22:00    95.676418
21:00    96.107767
01:00    96.289421
19:00    96.673795
20:00    97.430774
Name: Valor, dtype: float64